<ion-view title="Nearby">

  <ion-nav-buttons side="secondary">
    <button class="button icon icon-refresh" ng-click="search(true)"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header">
    <div class="list list-inset">
      <div class="item item-input">
        <i class="icon icon-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="$parent.searchText">
        <button id="clearButton" class="button-icon input-button icon-cross placeholder-icon hover padding-right" ng-show="searchText.length > 0" ng-click="clearSearch()"></button>
      </div>

      <div class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select class="expand-select" data-tap-disabled="true" ng-model="selectedCategory" ng-options="category for category in categories | orderBy"></select>
      </div>
    </div>

    <div ng-repeat="event in events" ng-show="([event] | filter:searchText | categoryFilter:selectedCategory | upcomingFilter).length">
      <ng-include src="'templates/eventCard.html'"></ng-include>
    </div>

  </ion-content>
</ion-view>
