<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" drag-content="false">
    <header class="bar bar-header bar-dark">
      <h1 class="title">{{appName}}</h1>
    </header>

    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/">
          <span class="icon icon-map2 padding-right"></span>
          <span>Nearby</span>
        </ion-item>
        <!-- <ion-item nav-clear menu-close href="#/upload">
          <span class="icon ion-upload padding-right"></span>
          <span>Upload File</span>
          </ion-item> -->
        <ion-item nav-clear menu-close href="#/settings">
          <span class="icon icon-cog padding-right"></span>
          <span>Settings</span>
        </ion-item>
        <ion-item nav-clear menu-close ng-click="signOut()">
          <span class="icon icon-exit padding-right"></span>
          <span>Logout</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
