<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Event</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <form name="form" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Event Name</span>
                    <input ng-model="newEvent.name" type="text" required>
                </label>

                <div class="item item-input" ng-class>
                    <span class="input-label">Location</span>
                    <input type="text" placeholder="" places-auto-complete ng-focus="disableTap()" ng-model="newEvent.location.name" on-place-changed="placeChanged()" required>
                    <button id="clearButton" class="button-icon input-button icon-cross placeholder-icon hover padding-right" ng-show="newEvent.location.name.length > 0" ng-click="clearLocation()"></button>
                </div>
                
                <label class="item item-input">
                    <span class="input-label">Start Time</span>
                    <input type="datetime-local" ng-model="newEvent.startTime" required></input>
                </label>
                
                <label class="item item-input">
                    <span class="input-label">End Time</span>
                    <input type="datetime-local" ng-model="newEvent.endTime" required></input>
                </label>

                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <textarea rows="1" msd-elastic ng-model="newEvent.description" required></textarea>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label">Category</span>
                    <select class="expand-select" data-tap-disabled="true" ng-model="newEvent.category" ng-options="category for category in categoryList | orderBy" required></select>
                </label>

                <!-- picture -->

                <div class="inset-button">
                    <button type="submit" class="button button-block icon-plus button-positive" ng-click="createEvent()" ng-disabled="form.$invalid">
                        <span class="span-button">Create Event</span>
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>