<ion-view title="Settings">
  <ion-content class="has-header">
    <div class="list">
      <div class="list list-inset">

        <div class="item item-input">
          <span class="input-label">My Location</span>
          <i ng-if="!$parent.settings.locationFriendly" id="custom-location-icon" class="icon {{$parent.settings.gpsFailed ? 'red' : 'blue'}} icon-location"></i>
          <input type="text" placeholder="{{$parent.settings.gpsFailed ? '(GPS Not Availible)' : 'Using GPS'}}" places-auto-complete ng-focus="disableTap()" ng-model="$parent.settings.locationFriendly" on-place-changed="placeChanged()">
          <button id="clearButton" class="button-icon input-button icon-cross placeholder-icon hover padding-right"
          ng-show="$parent.settings.locationFriendly.length > 0" ng-click="clearLocation()"></button>
        </div>
      </div>

      <div class="inset-button">
        <button class="button button-block icon-left icon-facebook button-positive" ng-click="$parent.facebookAuth ? unlink('facebook') : link('facebook')"
          ng-disabled="!$parent.googleAuth && $parent.facebookAuth && !$parent.twitterAuth">
          <span class="span-button">{{$parent.facebookAuth ? "Disconnect" : "Connect"}} Facebook Account</span>
        </button>
      </div>

      <div class="inset-button">
        <button class="button button-block icon-left icon-twitter button-calm" ng-click="$parent.twitterAuth ? unlink('twitter') : link('twitter')"
          ng-disabled="!$parent.googleAuth && !$parent.facebookAuth && $parent.twitterAuth">
          <span class="span-button">{{$parent.twitterAuth ? "Disconnect" : "Connect"}} Twitter Account</span>
        </button>
      </div>
      
      <div class="inset-button">
        <button class="button button-block icon-left icon-google button-assertive" ng-click="$parent.googleAuth ? unlink('google') : link('google')"
          ng-disabled="$parent.googleAuth && !$parent.facebookAuth && !$parent.twitterAuth">
          <span class="span-button">{{$parent.googleAuth ? "Disconnect" : "Connect"}} Google Account</span>
        </button>
      </div>

      <div id="account-warning" class="bar bar-assertive" ng-if="!$parent.googleAuth && !$parent.facebookAuth && !$parent.twitterAuth">
        <span class="title">WARNING: Your account has not been linked to a social media account. If you log out, all user data will be lost!</span>
      </div>

      <div id="logout" class="inset-button">
        <button type="button" class="button button-block icon-exit button-assertive" ng-click="signOut()">
          <span class="span-button">Logout</span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
