/* Universal stuff */
.center-text {
  text-align: center;
}

.span-button {
  font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
  line-height: 42px;
}

.expand-select {
  width: 100%;
}

.tabs {
  padding: 8px 0 6px;
  height: auto;
}

.tab-item .icon {
  margin-bottom: 5px;
}

ng-map {
  height: 100%;
}

#logout {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 0 10px;
}

/* Darker card shadows */
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Other stuff */
#distanceLabel {
  width: auto;
}

/* Move/Less Styling */
a, .hover {
  cursor: pointer;
}

.more-show-hide {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.more-show-hide.ng-hide {
  opacity: 0;
}