/* Universal stuff */
.center-text {
  text-align: center;
}

.span-button {
  font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
  line-height: 42px;
}

.expand-select {
  width: 100%;
}

/* Tab Stuff */
.tab-item {
  padding-top: 6px;
}

.tab-item .icon {
  padding-bottom: 2px;
  height: auto;
}

/* Map */
ng-map {
  height: 100%;
}

#center-map {
  margin-left: 10px;
  margin-bottom: 11px;
}

#center-map .icon {
  color: #387ef5;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px -2px;
  text-shadow: 0.5px 0.5px #ccc;
  background-color: white;
  cursor: pointer;
  width: 48px;
  height: 48px;
  font-size: 34px;
  padding: 5px;
  border-radius: 3px;
}

/* Inset button */
.inset-button {
  width: 100%;
  padding: 0 10px;
}

/* Logout Button */
#logout {
  position: fixed;
  bottom: 20px;
}

/* Using GPS Location Icon */
#custom-location-icon {
  color: #387ef5;
  padding-right: 4px;
  padding-top: 2px;
  font-size: 20px;
}
/* Darker card shadows */
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Other stuff */
#distanceLabel {
  width: auto;
}

/* Move/Less Styling */
a, .hover {
  cursor: pointer;
}

.more-show-hide {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.more-show-hide.ng-hide {
  opacity: 0;
}