/* Universal stuff */
.center-text {
  text-align: center;
}

.pad-right {
  padding-right: 10px;
}

.span-button {
  font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
  line-height: 42px;
  /* font-size: 18px; */
}

.expand-select {
  width: 100%;
}

/* Custom Progressbar */
progress::-moz-progress-bar {
  background: #444;
}

progress::-webkit-progress-value {
  background: #444;
}

progress {
  color: #444;
  border: 1px solid #0063a6;
  background: #fff;
}

/* Custom file upload button */
.file-upload {
  color: #aaa;
}

.file-upload .file-input {
  visibility: hidden;
  width: 0;
}

/* Custom trash icon style */
.ion-trash-a {
  padding: 6px 10px;
  margin-left: 6px;
  border-radius: 3px;
  font-size: 21px;
  vertical-align: middle;
  color: #ddd;
  background-color: #444;
  cursor: pointer;
}

/* Darker card shadows */
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Other stuff */
#distanceLabel {
  width: auto;
}

/* Move/Less Styling */
a, .hover {
  cursor: pointer;
}

.more-show-hide {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.more-show-hide.ng-hide {
  opacity: 0;
}